<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="../js/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css/auth.css">

    <link rel="icon" type="image/ico" sizes="32x32" href="./favicon.ico">

    <title>
        linktree-clone-idea
    </title>
</head>

<body>
    <noscript>
        JavaScript is required to use this app.
    </noscript>
    <main id="main" style="display: none;">
        <div class="wrapper">
            <div id="formContent">

                <div id="formHeader">
                    <a href="/register" class="underlineHover">Don't have an account? Register</a>
                </div>
                <div id="formHeaderPadding"></div>
                <form action="/login" method="POST">
                    <input type="email" id="email" class="" name="email" required maxlength="1024" placeholder="Email">
                    <input type="password" id="password" class="" required name="password" maxlength="1024"
                        placeholder="Password">
                    <div id="formSubmitPadding"></div>
                    <input type="submit" class="" value="Log In">
                </form>

                <div id="formFooter">
                    <a href="#" class="underlineHover">Forgot Password?</a>
                </div>
            </div>
    </main>
    <script src="js/auth.js"></script>
</body>

</html>