body {
    margin: auto;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

main#main {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

select {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}