@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./auth.css');

#pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid none;
    display: block;
    margin: auto;
    margin-top: 35px;
}

body {
    margin: auto;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

main#main {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form>div {
    margin: 10px auto;
}

div.links>div {
    margin: 10px auto;
}

div.links>div>label {
    margin: 10px;
}

input[type=text],
input[type=email],
input[type=password] {
    padding: 15px 24px;
    width: 25%;
}

@media screen and (max-width: 600px) {

    input[type=text],
    input[type=email],
    input[type=password] {
        width: 40%;
    }
}

.modalInput {
    width: 80% !important;
}

@media screen and (max-width: 600px) {

    #pageBreakForButtons {
        display: block;
    }

    #pageBreakForLinkName {
        display: block;
    }

    #hrForMobile {
        display: block;
    }
}

@media screen and (min-width: 600px) {

    #pageBreakForButtons {
        display: none;
    }

    #pageBreakForLinkName {
        display: none;
    }

    #hrForMobile {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .modal-content {
        background-color: #1e1e1e;
        color: white;
    }
}

button.close {
    border: none;
    background-color: transparent;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    button.close {
        color: white;
    }
}