@import url('./common.css');
@import url('./center-everything.css');
@import url('./auth.css');

input[type=text],
input[type=email],
input[type=password],
.form-select {
    padding: 15px 24px;
    width: 25%;
}

form>div,
div.links>div {
    margin: 10px auto;
}

.colorPicker {
    margin-right: 10px;
}

.modalInput {
    width: 80% !important;
}

input[type=checkbox] {
    background-color: var(--white-color) !important;
}

ul {
    list-style: none;
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}

#linkWhitelistDetails {
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {

    input[type=text],
    input[type=email],
    input[type=password],
    .form-select {
        width: 40%;
        padding: 10px;
    }

    .links input {
        width: 80%;
    }

    #pageBreakForButtons,
    #pageBreakForLinkName,
    #hrForMobile {
        display: block;
    }
}

@media screen and (min-width: 600px) {

    #pageBreakForButtons,
    #pageBreakForLinkName,
    #hrForMobile {
        display: none;
    }
}

#drag-drop-area,
.uppy-Root,
.uppy-Dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}