@import url('./font-roboto.css');
@import url('./auth.css');

* {
    text-transform: lowercase;
}

body {
    overflow-x: hidden;
}

.hero {
    width: 100vw;
    height: 100vh;
}

.hero-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#heroOne {
    background-color: #5fbae9;
    color: #ffffff;
}

#showcase {
    background-color: #E95FBA;
}

#unknown {
    background-color: green;
}

#pricing {
    background-color: rgb(62, 0, 62);
}

#footer {
    background-color: white;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: 80%;
}

input[type=text] {
    width: 35%;
    background-color: white !important;
    color: black !important;
}

@media screen and (max-width: 600px) {
    input[type=text] {
        width: 40%;
    }
}

input[type=text]:focus {
    border-bottom: 2px solid #E95FBA !important;
}

#claimButton {
    background-color: #E95FBA !important;
    color: white !important;
}

#claimButton:hover {
    background-color: #c44f9d !important;
    color: white !important;
}

.showcaseImages {
    display: flex;
    flex-direction: row;
    float: left;
    width: 25%;
    border-radius: 10px;
    border: 3px solid #ccc;
    margin: 10px;
}

#showcaseImageDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px) {

    #example1,
    #example3 {
        display: none;
    }

    #example2 {
        width: 80%;
    }
}

#pricing li,
#pricing h4,
#pricing .card-title {
    color: black;
    text-align: center;
}

#pricing h4,
#pricing .card-title {
    color: black;
    max-width: 100%;
}

.half-hero {
    width: 100vw;
    height: 15vh;
}

#footerDiv {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerLinks {
    list-style: none;
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
}

ul {
    text-align: center;
    list-style-position: inside;
}