@import url('./common.css');
@import url('./center-everything.css');

#header {
    display: flex;
    justify-content: center;
    text-align: center;
}

#header>p {
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
}

p#username {
    font-size: 24pt;
    font-weight: bold;
}

#verifiedBadge,
#verifiedBadgeStaff {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 24px;
    height: 32px;
}

div.links {
    padding: 20px 0px;
}

div.links>div>button {
    border-radius: 20px;
    display: block;
    margin: 20px auto;
    padding: 17px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    width: 600px;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

@media screen and (max-width: 600px) {
    div.links>div>button {
        width: 65%;
    }
}

div.links>div>button:hover,
div.links>div>button:focus {
    transform: scale(1.25);
}

#ageGate {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Hardcode colors here or else the users theme can override them */
#ageGate p,
#ageGate h1 {
    color: black !important;
}

#ageGate,
#ageGate p,
#ageGate h1 {
    background-color: white !important;
}

@media (prefers-color-scheme: dark) {

    #ageGate p,
    #ageGate h1 {
        color: white !important;
    }

    #ageGate,
    #ageGate p,
    #ageGate h1 {
        background-color: black !important;
    }
}
