@import url('./common.css');

.email {
    filter: blur(5px) opacity(0.15);
}

.email:hover,
.email:focus {
    filter: blur(0px) opacity(1);
}

#searchInput {
    width: 25%;
    margin-right: 10px;
}

.btn {
    margin-right: 10px;
}

hr {
    visibility: hidden;
    margin: 5px 0;
}