{
    "port": 5000,
    "secret": "",
    "projectName": "multil.ink",
    "projectDescription": "the simple and free to use social media landing page.",
    "dev": true,
    "https": false,
    "hcaptchaSiteKey": "",
    "hcaptchaSecret": "",
    "emailSMTPHost": "",
    "emailSMTPPort": 465,
    "emailSMTPSecure": true,
    "emailSMTPUser": "",
    "emailSMTPPass": "",
    "emailFromDisplayName": "multil.ink",
    "stripeSecretKey": "",
    "stripePublishableKey": "",
    "stripeProductID": "",
    "stripeCustomerPortalURL": "",
    "stripeWebhookSigningSecret": "",
    "discordWebhookURL": "",
    "reportEmail": ""
}